In [ ]:
# control_Statments
1.for loop
2.while loop

# for loop

In [1]:
for i in range(1,5):
  print(i)

1
2
3
4

In [7]:
for i in range(1,5):
  print('good morning')

good morning
good morning
good morning
good morning

In [8]:
for i in range(21,25):
  print(i+10)

31
32
33
34

In [9]:
for i in range(2,7):
  pass
print(i+5)

11

In [10]:
for i in range(11,21):
  print(f'Good morning:',i)

Good morning: 11
Good morning: 12
Good morning: 13
Good morning: 14
Good morning: 15
Good morning: 16
Good morning: 17
Good morning: 18
Good morning: 19
Good morning: 20

In [11]:
for i in range(1,5):
  print(i,end=" ")

1 2 3 4

In [12]:
for i in range(11,21):
  print(i+5,end=" ")

16 17 18 19 20 21 22 23 24 25

In [15]:
for i in range(11,21):
  print(i,end="->")

11->12->13->14->15->16->17->18->19->20->

In [17]:
n=5
r=2
for i in range(1,8):
  print(i*n)

5
10
15
20
25
30
35

In [19]:
a=10
b=5

for k in range(3,5):
  print(k*b)

15
20

In [20]:
n=5
for i in range(1,11):
  print(n,'*',i,'=',n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [21]:
a=10
for i in range(1,11):
  print(a,'*',i,"=",a*i)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [22]:
c=lambda x,y:x*y
a=6
for i in range(1,11):
  print(a,'*',i,'=',c(a,i))

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [23]:
k=lambda a,b:a*b
n=7
for i in range(1,11):
  print(n,'*',i,'=',k(n,i))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [24]:
for i in range(11,21):
  if i%2==0:
    print(f'Even numbers:',i)

Even numbers: 12
Even numbers: 14
Even numbers: 16
Even numbers: 18
Even numbers: 20

In [25]:
for i in range(1,11):
  if i%2!=0:
    print(f'odd Numbers:',i)

odd Numbers: 1
odd Numbers: 3
odd Numbers: 5
odd Numbers: 7
odd Numbers: 9